<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <proxies>
    <proxy>
      <id>evo_http</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy_trend</host>
      <port>8080</port>
      <nonProxyHosts>di-gitlab*|*evotecoai.com</nonProxyHosts>
    </proxy>
    <proxy>
      <id>evo_https</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>proxy_trend</host>
      <port>8080</port>
      <nonProxyHosts>di-gitlab*|*evotecoai.com</nonProxyHosts>
    </proxy>
  </proxies>
  <servers>
    <server>
      <id>gitlab-maven</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
  </servers>
</settings>
